# محیط مجازی Python — هرگز کامیت نشود
env/
venv/
.venv/
ENV/

# فایل پایگاه داده
db.sqlite3

# Python cache
__pycache__/
*.py[cod]
*.pyo

# فایل‌های استاتیک جمع‌آوری‌شده
/static/

# متغیرهای محیطی
.env
.env.*

# IDE
.vscode/
.idea/
*.suo
*.user

# Windows
Thumbs.db
Desktop.ini
